* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #3e4da2;
  padding: 0px;
  text-align: left;
  border-bottom: 2px solid;
  border-color: #383896;
}

.logo {
  color: white;
  font-size: 24px;
  height: 50px;
  /* width: 2000px; */
}

main {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #5263c3;
  padding: 20px;
  width: 500px;
  color: white;
  border-right: 2px solid;
  border-color: #5555db;
}

.sidebar h2 {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

/* Стили для блоков кабинетов */
.cabinet {
  background-color: #3e4da2;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

/* .cabinet:hover {
  background-color: #5f9ea0; 
} 
*/

.cabinet span {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.computer-list {
  margin-top: 0px;
  margin-left: 20px; /* Лесенка для списка компьютеров */
}

.add-cabinet-btn{
  background-color: #3e4da2;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.add-computer-btn {
  background-color: #5e71dc;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 210px;
}

.add-cabinet-btn:hover,
.add-computer-btn:hover,
.to_computer:hover,
.cabinet_button:hover {
  background-color: #394462; /* Изменение цвета кнопки при наведении */
}

.content {
  flex: 1;
  padding: 20px;
  background-color: white;
}

.delete-btn,
.delete-computer-btn {
  background-color: rgb(254, 102, 102);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
  
}

.add-computer-btn {
  background-color: #5e71dc;
  margin-top: 5px;
}

/* Стили для списка компьютеров */
.computer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding: 5px 10px;
  background-color: none;
  border-radius: 5px;
  max-width: 100%;
}

.computer-item span {
  font-weight: bold;
}

h2 {
  color: #1e90ff;
}

.cab_and_but_div {
  display: block;
}


.cabinet_button {
  /* padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block; */

  background-color: #5e71dc;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 6px;
  transition: background-color 0.3s ease;
  max-width: 100%;
  overflow:hidden;
  min-width: 150px;
}

.buttons_computer{
  margin-top: 5px;
  text-align:justify;
}

.to_computer{
  background-color: #5e71dc;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: justify;
  text-decoration: none;
  /* display: inline-block; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
  max-width: 100%;
  overflow: hidden;
  min-width: 350px;
  /* word-wrap:break-word; */

}

#main_header{
  text-align: center;
}

.top_main_info{
  margin-top: 100px;
  font-size: 30px;
}

.main_info{
  margin-left: 30px;
  margin-right: 30px;
}

.each_characteristics{
  display: block;
  margin-bottom: 5px;
}

.characteristics-input{
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 30px;
  font-size: 12pt;
}

.characteristics-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

#type,
#name{
  width: 500px;
  height: 30px;
  color: #1e90ff;
}

#obor-name,
#obor-type{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: #1e90ff;
}