<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление кабинетами</title>
    <link rel="stylesheet" href="static/main_page.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='ugtu.jpeg') }}" alt="Описание изображения">
        </header>
        <main>
            <aside class="sidebar">
                <h2>Кабинеты:</h2>
                <div id="cabinet-list"></div>
                <button class="add-cabinet-btn" onclick="addCabinet()">Добавить кабинет</button>
            </aside>
            <section class="content">
                <div class="top_main_info">
                    <h2 id="main_header">Сайт с компами.</h2>
                </div>
                <div class="main_info">
                    <h2>Тут много разного текста. Бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла-бла.</h2>
                </div>
            </section>
        </main>
    </div>
    

    <script src="static/script.js"></script>
</body>
</html>
